@model CustomGroupApp.Models.CustomGroupViewModel
<div style="font-size: 12px">
    <style scoped>
        input[type="radio"] {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        input[type="checkbox"] {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .k-grid td {
            padding-bottom: 2px;
            padding-top: 2px;
            white-space: nowrap;
        }

        .step-title {
            font-size: 12px;
            font-weight: bold;
        }
    </style>

    <div id="popup-window-container"></div>
    <div class="container-fluid" id="custom-group-container">
        <div class="row">
            <div id="custom-group-content" style="margin: 20px">
                @Html.Partial("SelectGroupingType")
            </div>
        </div>
        <div>
            <span style="margin-right: 20px; color: red" data-bind="text: errorMessage, visible: hasErrors"></span>
        </div>
        <div class="row">
            <hr />
            <div id="navigation-buttons" style="margin-left: 20px">
                <button class="btn btn-default" data-bind="click: nextStep, invisible: isLastStep ">Next</button>
                <button class="btn btn-default" data-bind="click: previousStep, disabled: isFirstStep, invisible: isLastStep">Previous</button>
                <button class="btn btn-default" data-bind="click: startOver, visible: isLastStep ">Create New Custom Group</button>
            </div>
        </div>
    </div>
    <script>
        var customGroupViewModel = new CustomGroupViewModel("custom-group-content", @Html.Raw(Json.Encode(Model.Results.Count())), '@Url.Action("CustomGroupWizard", "CustomGroup")');

        $(document)
            .ready(function() {
                customGroupViewModel.setDatasource(test, studentResults, studentLanguages);
                kendo.bind($("#custom-group-container"), customGroupViewModel);
            });

        var studentResults = @Html.Raw(Json.Encode(Model.Results.ToArray()));
        var test = @Html.Raw(Json.Encode(Model.Test));
        var studentLanguages = @Html.Raw(Json.Encode(Model.StudentLanguages.ToArray()));
    </script>
</div>