@model CustomGroupApp.Models.TestViewModel

<div>
    <style scoped>
        input[type="radio"] {
            margin-right: 5px;
            margin-bottom: 5px;
        }
    </style>

    <div class="container-fluid" id="custom-group-container">
        <div class="row">
            <div id="custom-group-content" style="margin: 20px 20px 40px 20px">
                @Html.Partial("SelectGroupingType")
            </div>
        </div>
        <div class="row">
            <hr />
            <div id="navigation-buttons" style="margin-left: 20px">
                <button class="btn btn-default" data-bind="click: nextStep, disabled: isLastStep ">Next</button>
                <button class="btn btn-default" data-bind="click: previousStep, disabled: isFirstStep">Previous</button>
                <button class="btn btn-default" data-bind="click: cancelStep">Cancel</button>
            </div>
        </div>
    </div>
    <script>

        var customGroupViewModel = new CustomGroupViewModel(@Html.Raw(Json.Encode(Model.Results.Count())));
       
        $(document)
            .ready(function () {
                
                customGroupViewModel.setDatasource(test, studentResults);

                kendo.bind($("#custom-group-container"), customGroupViewModel);

                // getTestResult(1014405);

                function getTestResult(testnum) {
                    $.ajax({
                        url: '@Url.Action("GetResults", "CustomGroup")',
                        data: { 'testnum': testnum },
                        type: 'POST',
                        cache: false,
                        success: function (data) {
                            customGroupViewModel.setDataSource(data);
                        },
                        fail: function () {

                        }
                    });
                }
            });

        var studentResults =  @Html.Raw(Json.Encode(Model.Results.ToArray()));
        var test =  @Html.Raw(Json.Encode(Model.Test));
    </script>
</div>